@model CRUDMovies.Models.Film

<h2>Usuń film</h2>

<p>Czy na pewno chcesz usunąć poniższy film?</p>
<p><strong>Nazwa:</strong> @Model.Name</p>
<p><strong>Opis:</strong> @Model.Description</p>
<p><strong>Cena:</strong> @Model.Price zł</p>

<form asp-action="ConfirmDelete" method="post">
    <input asp-for="Id" type="hidden" />
    <button type="submit">Usuń</button>
</form>

<a asp-action="Index">Anuluj</a>
