@model CRUDMovies.Models.Film

<h2>Szczegóły filmu</h2>
<p><strong>Nazwa:</strong> @Model.Name</p>
<p><strong>Opis:</strong> @Model.Description</p>
<p><strong>Cena:</strong> @Model.Price zł</p>

<a asp-action="Index">Powrót do listy</a>
